@model IEnumerable<gitEx2.Models.Pay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasicSal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayBand)
            </th>
            <th>
                HRA
            </th>
            <th>
                net sal
            </th>
            <th>
                in hand sal
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BasicSal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayBand)
            </td>
            <td>
                @(@item.BasicSal*.10)
            </td>
            <td>
                @((@item.BasicSal* .10)+(@item.BasicSal * .05)+ (@item.BasicSal * .05)+ (@item.BasicSal))
            </td>
            <td>
                @((@item.BasicSal * .10)+(@item.BasicSal * .05)+ (@item.BasicSal * .05)+ (@item.BasicSal) - (@item.BasicSal * .10))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PayBand">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PayBand">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayBand">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
